@using PokerTime.Application.SessionWorkflows.Commands
@inherits MediatorComponent

<h3 class="poker-status-panel__next-step-title">Current step</h3>
<SessionRolePanel>
    <Facilitator>
        <p>
            Ensure the participants have enough information to make an estimation.
        </p>

        <NextStageInvocationForm TModel="InitiateEstimationStageCommand"
                                 Model="@this.Command"
                                 OnContinue="@this.OnInvokeContinueToNextStage"
                                 ButtonText="Enable estimations"/>
    </Facilitator>
    <Participant>
        <p>
            You'Il receive information you need to make an estimation.
        </p>
    </Participant>
</SessionRolePanel>

@code {
    private InitiateEstimationStageCommand Command { get; } = new InitiateEstimationStageCommand();

    private Task OnInvokeContinueToNextStage(InitiateEstimationStageCommand command) => this.Mediator.Send(command);
}
