@using PokerTime.Application.SessionWorkflows.Commands
@inherits MediatorComponent

<h3 class="poker-status-panel__next-step-title">Current step</h3>
<SessionRolePanel>
    <Facilitator>
        <p>
            The participants (and you) are now able to make an estimate. The estimations are not visible to anyone else until you press the button below.
        </p>

        <NextStageInvocationForm TModel="InitiateEstimationDiscussionStageCommand"
                                 Model="@this.Command"
                                 OnContinue="@this.OnInvokeContinueToNextStage"
                                 ButtonText="Show estimations"/>
    </Facilitator>
    <Participant>
        <p>
            Please estimate the user story by clicking one of the cards.
        </p>
    </Participant>
</SessionRolePanel>

@code {
    private InitiateEstimationDiscussionStageCommand Command { get; } = new InitiateEstimationDiscussionStageCommand();

    private Task OnInvokeContinueToNextStage(InitiateEstimationDiscussionStageCommand command) => this.Mediator.Send(command);
}
