@inherits MediatorComponent

<h3 class="poker-status-panel__next-step-title">Next step</h3>
<SessionRolePanel>
    <Facilitator>
        <p>
            You have closed this session
        </p>
    </Facilitator>
    <Participant>
        <p>
            The facilitator has closed this session
        </p>
    </Participant>
</SessionRolePanel>
