@page "/"

<h1 class="title">Welcome to PokerTime!</h1>

<p>
    PokerTime is an app for hosting planning poker sessions with your remote team.
</p>

<p>
    Choose the appropriate item from the menu to create a new planning poker session. To join an existing planning poker session you need a link from your facilitator.
</p>