.user-card {
    @include poker-card-base(50px);
    filter: grayscale(25%);
    margin-right: 1em;
    margin-bottom: 1em;

    &--disabled {
        cursor: not-allowed;
        opacity: 0.75;
        filter: grayscale(65%) blur(2px);
    }

    &--enabled {
        cursor: pointer;
        transition: transform ease 500ms;
        transform: scale(1);
        transform-origin: center;

        &:hover {
            transform: scale(1.2);
        }
    }
}
