@using PokerTime.Application.Common.Models
@inherits EstimationOverviewBase

@if (this.SessionStatus == null || this.SessionStatus.CanViewEstimationPanel == false)
{
    return;
}

<h3 class="title is-size-5">Estimations of your team</h3>

<div data-test-element-id="estimation-overview">
    @foreach (EstimationModel estimation in this.Estimations.Values)
    {
        <Revealable @key="@estimation.ParticipantId" Inline="true" CssClass="poker-card-container">
            <EstimationCard Estimation="@estimation" />
        </Revealable>
    }

    @if (this.SessionStatus.CanChooseCards)
    {
        @foreach (string participantWithoutEstimation in this.ParticipantsWithoutEstimation)
        {
            <Revealable Inline="true" CssClass="poker-card-container">
                <div class="poker-card poker-card--pending" title="Estimation needed from: @participantWithoutEstimation">
                    
                </div>
            </Revealable>
        }
    }
</div>