@using PokerTime.Application.Common.Models

<div class="poker-card poker-card--preview"
     data-test-element-id="preview-poker-card"
     data-id="@this.Symbol.Id">
    <div class="poker-card__symbol">@this.Symbol.AsString</div>
</div>

@code {
    #nullable disable
    [Parameter]
    public SymbolModel Symbol { get; set; }
}
