@using PokerTime.Application.Retrospectives.Queries.GetSessionStatus
<div class="columns">
    
</div>

@code {
    #nullable disable

    [CascadingParameter]
    public SessionStatus SessionStatus { get; set; }
}
