@using PokerTime.Application.Sessions.Queries.GetSessionStatus
<div class="columns">
    
</div>

@code {
    #nullable disable

    [CascadingParameter]
    public SessionStatus SessionStatus { get; set; }
}
