@using PokerTime.Application.Retrospectives.Queries.GetRetrospectiveStatus
<div class="columns">
    
</div>

@code {
    #nullable disable

    [CascadingParameter]
    public RetrospectiveStatus RetrospectiveStatus { get; set; }
}
