@using PokerTime.Application.Common.Models
@using PokerTime.Application.Sessions.Queries.GetSessionStatus

<div class="user-card @(this.SessionStatus.CanChooseCards ? "user-card--enabled" : "user-card--disabled")"
     style="background-color: #@this.CurrentParticipant.HexColorString"
     data-test-element-id="user-poker-card"
     data-symbol-id="@this.Symbol.Id"
     data-id="@this.Symbol.Id"
     @onclick="() => this.OnClick?.Invoke(this.Symbol)">
    <div class="user-card__symbol" data-test-element-id="symbol">@this.Symbol.AsString</div>
</div>

@code {
#nullable disable

    [CascadingParameter]
    public SessionStatus SessionStatus { get; set; }

    [CascadingParameter]
    public CurrentParticipantModel CurrentParticipant { get; set; }

    [Parameter]
    public SymbolModel Symbol { get; set; }

    // This is not a Blazor event because we have no interest in re-rendering the parent component
    [Parameter]
    public Func<SymbolModel, Task> OnClick { get; set; }
}
